.main-card {

    width: 100%;
    padding: 2rem;
}

.card-front,
.card-back {
    max-width: 392px;
    height: 191px;
    border-radius: 10px;
    background-size: cover;
    color: white;
    position: relative;
    padding: 32px;
}

.card-front {
    background-image: url('../../../assets/images/bg-card-front.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto 32px;
}

.card-back {
    background-image: url('../../../assets/images/bg-card-back.png');
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 2rem 0 auto;
}

.number>p {
    font-size: clamp(22px, 3.5vw, 32px);
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.card-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cvc {
    position: absolute;
    right: 60px;
    top: 113px;
    font-size: 24px;
}

@media screen and (max-width:1400px) {

    .card-front {
        transform: scale(.85);
    }

    .card-back {
        transform: scale(.85);
    }
}

@media screen and (max-width:884px) {
    .main-card {
        width: auto;
        padding: 0;
    }

    .card-front {
        top: 151px;
        right: 76px;
        z-index: 11;
        margin: 0 auto;
    }

    .card-back {
        top: -233px;
        z-index: 10;
        left: 68px;
        margin: 0 auto;
    }
}

@media screen and (max-width:575px) {

    .card-front,
    .card-back {
        width: 345px;
        height: 173px;
    }

    .card-back {
        top: -207px;
    }
}


@media screen and (max-width:515px) {

    .card-front,
    .card-back {
        width: 305px;
        height: 153px;
    }

    .card-back {
        top: -207px;
        left: 32px;
    }

    .card-front {
        top: 123px;
        right: 39px;
    }

    .cvc {
        right: 45px;
        top: 94px;
    }
}