.main-card {

    width: 100%;
    padding: 2rem;
}

.card-front,
.card-back {
    max-width: 420px;
    height: 210px;
    border-radius: 10px;
    background-size: cover;
    color: white;
    position: relative;
    padding: 32px;
}

.card-front {
    background-image: url('../../../assets/images/bg-card-front.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto 32px;
}

.card-back {
    background-image: url('../../../assets/images/bg-card-back.png');
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 2rem 0 auto;
}

.number > p {
    font-size: clamp(22px, 2.5vw, 27px);
    letter-spacing: 4px;
    margin-bottom: 25px;
}
.card-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cvc{
    position: absolute;
    right: 60px;
    top: 122px;
    font-size: 24px;
}
@media screen and (max-width:1400px) {

    .card-front {
        transform: scale(.85);
    }

    .card-back {
        transform: scale(.85);
    }
}