<div class="main" #styledDiv>
   
    <app-card-decoration ></app-card-decoration>
  
 
    <app-card-form (newItemEvent)="eventData($event)" *ngIf="viewForm"></app-card-form>

    <div class="thanks" *ngIf="viewThanksCard">
        <div class="text">
            <img src="../assets/images/complete.svg" alt="complete">
            <p >Thank you!</p>
            <p >We've added your card details</p>
            <button (click)="continue()" class="btn-primary">Continue</button>
        </div>
    </div>
   
</div>