/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
html,body{
    min-height: 100% !important;
    height: 100%;
    font-family: Space Grotesk,sans-serif;
    box-sizing: border-box;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.btn-primary {
    background: #21092f;
    border: none;
    padding: 17px 20px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

.btn-primary:hover {
    background: #382444;
}