.main {
    width: 100%;
}

.cardForm {
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    margin-left: 10%;
    padding: 1rem;
}

.cardForm label {
    margin-bottom: 16px;
    gap: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    color: #21092f;
    font-size: 15px;
}

.card-input {
    padding: 17px;
    border: 1px solid #8e8593;
    border-radius: 7px;
    transition: all .3s ease-in-out;
}

.card-input:hover {
    border-color: #8b76fe;
}

.cvc-mmyy {
    display: flex;
    margin-bottom: 26px;
    position: relative;
    gap: 10px;
}

.labelmm div {
    display: flex;
    gap: 10px;
}

.labelmm input {
    width: 100%;
}

 

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.exp-date-inp{
    display: flex; 
}


@media screen and (max-width:884px){
    .cardForm{
        margin-left: 0;
        max-width: 100%; 
    }
    .cardForm label{
        width: 100%;
    }
}
@media screen and (max-width:440px) {
    .cvc-mmyy{
        flex-direction: column;
    }    
}