<div class="main">
    <div>
        <form action="" class="cardForm">
            <label class="labelname">
                Cardholder Name
                <input type="text" [(ngModel)]="cardHolderName"  (ngModelChange)="updateData()" placeholder="e.g. Jane Appleseed" name="name" class="card-input" >
            </label>
            
            <label class="labelnumber">
                Card Number
                <input type="text" placeholder="e.g. 1234 5678 9123 0000" name="number" class="card-input"
                    minlength="19" [(ngModel)]="cardNumber"  (ngModelChange)="updateData()">
            </label>




            <div class="cvc-mmyy">
                <label class="labelmm labelyy">Exp. Date (MM/YY)
                    <div>
                        <input type="text" placeholder="MM" name="mm" class="card-input"  (ngModelChange)="updateData()" [(ngModel)]="cardMonth">
                        <input type="text" placeholder="YY" name="yy" class="card-input" (ngModelChange)="updateData()" [(ngModel)]="cardYear">
                    </div>
                </label>
                <label class="labelcvc">CVC
                    <input type="text" placeholder="e.g. 123" name="cvc" class="card-input" (ngModelChange)="updateData()" [(ngModel)]="carcCvc">
                </label>
            </div>
            <button type="submit" class="btn-submit btn-primary">Confirm</button>
        </form>
    </div>
</div>